<h2>Index page living in views portfolios </h2>

<% @portfolios.each do |eachPortfolio| %>
  <p><%= eachPortfolio.title %></p>
  <p><%= eachPortfolio.subtitle %></p>
  <p><%= eachPortfolio.body %></p>
  <p><%= image_tag eachPortfolio.thumb_image if !eachPortfolio.thumb_image.nil? %></p>  <!-- image_tag is a helper method in ActionView that substitutes <img src= >. If NOT nil, show the image>-->
<% end %>
